/*
    ---------- 공통 ----------
*/

/* * {
    border: 1px solid blue;
} */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

/*
    ---------- margin style ----------
*/
.hjw-top-gap {
    margin-top: 15px;
}

.hjw-top-gap2 {
    margin-top: 30px;
}

.hjw-top-big-gap {
    margin-top: 70px;
}

.hjw-bottom-gap {
    margin-bottom: 15px;
}

.hjw-bottom-gap40 {
    margin-bottom: 40px;
}

.hjw-right-gap {
    margin-right: 15px;
}

.hjw-top-bottom-gap {
    margin: 30px 0px;
}

/*
    ---------- padding style ----------
*/
.hjw-pad {
    padding: 20px;
}

.hjw-pad30 {
    padding: 30px;
}

.hjw-top-bottom-pad {
    padding: 10px 0px;
}

.hjw-top-bottom-pad2 {
    padding: 15px 0px;
}

.hjw-side-pad {
    padding: 0px 20px;
}

.hjw-top-pad10 {
    padding-top: 10px;
}

.hjw-top-pad15 {
    padding-top: 15px;
}

.hjw-top-pad20 {
    padding-top: 20px;
}

.hjw-top-pad30 {
    padding-top: 30px;
}

.hjw-bottom-pad {
    padding-bottom: 5px;
}

.hjw-bottom-pad10 {
    padding-bottom: 10px;
}

.hjw-bottom-pad15 {
    padding-bottom: 15px;
}

.hjw-bottom-pad20 {
    padding-bottom: 20px;
}

.hjw-right-big-pad {
    padding-right: 500px;
}

/*
    ---------- font-style ----------
*/
.hjw-highlight {
    font-size: 23px;
    font-weight: bold;
}

.hjw-highlight2 {
    font-size: 20px;
    font-weight: bold;
}

.hjw-small-char {
    font-size: 12px;
    color: #777777;
}

.hjw-small-char2 {
    font-size: 13px;
}

.hjw-bold-char {
    font-weight: bold;
}

/*
    ---------- <li> markup style ----------
*/
.hjw-list-space-between {
    display: flex;
    justify-content: space-between;
}

.hjw-list-border-bottom-subject {
    border-bottom: 1px solid #666666;
}

.hjw-list-border-bottom-article {
    border-bottom: 1px solid #dddddd;
}
