@import "common.css";

/* 헤더 */

/* 본문 */
#hjw-content-wrap {
    display: flex;
    justify-content: center;
}

#hjw-content {
    display: flex;
    justify-content: space-between;
}

/* 본문 - 왼쪽*/
#hjw-content-left {
    margin: 50px;
    width: 250px;
}

#hjw-divider {
    border: 1px solid #efefef;
}

#hjw-content-left>div>h2 {
    margin-top: 50px;
    margin-bottom: 15px;
}

.hjw-cs-center-left-box {
    width: 220px;
    border: 1px solid #efefef;
    padding: 10px;
    font-size: 15px;
}

.hjw-ce-center-left-box-item {
    padding: 10px;
    margin: 0px 10px;
}

.hjw-left-box-item-border {
    border-bottom: 1px solid #eee;
}

/* 본문 - 오른쪽 */
#hjw-content-right {
    width: 1100px;
    margin: 50px;
    display: flex;
    justify-content: space-around;
}

/* 푸터 */

/* 아이콘 편집 */
.hjw-ico-cs-center {
    width: 50px;
    height: 40px;
    background-image: url("img/icon/ico_cscenter.png");
}

#hjw-ico-cs-center2 {
    background-position: -68px 0px;
}

#hjw-ico-cs-center3 {
    background-position: -137px 0px;
}

#hjw-ico-cs-center4 {
    background-position: -204px 0px;
}

#hjw-ico-cs-center5 {
    background-position: -268px 0px;
}

#test2 {
    width: 50px;
    height: 40px;
    background-image: url("img/icon/ico_cscenter.png");
    background-position: -68px 0px;
}